.content {
    display: flex;
    max-width: 300px;
    text-align: center;
    justify-content: center;
    margin: 5px;
}

.name {
    width: 33.333%;
    color: #ffffff;
}

.priority {
    width: 33.333%;
}

.deleteButton {
    text-align: center;
    width: 10%;
    border-color: #f1c40f;
    color: black;
    background-image: -webkit-linear-gradient(45deg, #f5002b 50%, transparent 50%);
    background-image: linear-gradient(45deg, #f5002b 50%, transparent 50%);
    background-position: 100%;
    background-size: 400%;
    -webkit-transition: background 300ms ease-in-out;
    transition: background 300ms ease-in-out;
    border-radius: 5px;
}

.deleteButton:hover {
    background-position: 0;
    border-color: red;
}

.HighPriority{
    color: red;
}

.MiddlePriority{
    color: limegreen;
}

.lowPriority{
    color: skyblue;
}

