.content {
    display: flex;
    max-width: 300px;
    text-align: center;
    justify-content: center;
}

.name {
    width: 33.333%;
    color: #ffffff;
}

.priority {
    width: 33.333%;
}

.deleteButton {
    text-align: center;
    width: 10%;
}

.HighPriority{
    color: red;
}

.MiddlePriority{
    color: limegreen;
}

.lowPriority{
    color: skyblue;
}