.content {
    max-width: 300px;
}

.affairs {
    padding: 10px;
    width: 100%;
    min-height: 110px;
    justify-content: center
}

.filterButtons {
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.filterButtons button{
    width: 25%;
}

.active{
    background: goldenrod;
}
