.wrap{
    display: flex;
    transition-duration: 500ms;
    transform: translate(-250px);
    text-align: center;
    width: 350px;
    transition-delay: 0.3s;
}

.wrap:hover {
    transition-duration: 500ms;
    transform: translate(0);
}

a{
    padding-left: 15px;
    text-decoration: none;
    color: green;
    font-weight: 600;
}

a:focus{
    color: maroon;
    font-weight: 800;
}

.menu{
    padding-left: 10px;
    font-weight: 600;
}




